.App_introduction-container{
    padding: 10rem;
    align-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* background-image: url(../../constant/asset/femalewears.jpg); */
    background: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url('../../constant/asset/femalewears.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    

    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%{
       
        background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url('../../constant/asset/femalewears.jpg');
    }
    20%{
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url('../../constant/asset/femaleshoes.jpg');
    }
    40%{
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url('../../constant/asset/femalewears.jpg');
    }
    60%{
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url('../../constant/asset/wears4.jpg');
    }
    80%{
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)),url(../../constant/asset/shoes1.jpg);
    }
    100%{
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.733)), url(../../constant/asset/shoe3.jpg);
    }
}
.app__header-introduction{
    color: #dcca87;
    font-size: 48px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 5rem;
}
.App_introduction-container p{
    font-size: 22px;
    color: #fff;
    line-height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App_introduction-container button{
    background-color: #dcca87;
    width: 25%;
    padding: 0.8rem;
    color: black;
    border-radius: 1rem;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
@media screen and (max-width:1050px) {
    .app__header-introduction{
        font-size: 40px;
    }
   }
   @media screen and (max-width:650px){
       .App_introduction-container{
          width: 100%;
          padding: 1rem;
       }
       .app__header-introduction{
        font-size: 30px;    
    }
       .App_introduction-container p{
       font-size: 18px;
       line-height: 30px;
       }
       .App_introduction-container button{
        width: 50%;
        padding: 0.5rem;
        color: black;
        font-size: 18px;
    }
   }