.app__bg{
    display: flex;
    flex-direction: row;
    width: 100%;
}
p{
    color: aqua;
    font-size: 20px;
}
.app__wrapper-info{
    display: flex;
    flex-direction: column;
    line-height: 3rem;
}
.app__wrapper-info .contact_us{
    font-size: 18px;
    color: #fff;
}
.app__wrapper_info img{
    width: 100%;
    min-height: 500px;
    margin-top: -40px;
    margin-right: 4rem;
}
.custom_button{
    padding: 0.8rem;
    font-size: 18px;
    font-weight: bold;
    background-color: #dcca87;
    color: #ffff;
    cursor: pointer;
    border-radius: 5px;
    width: 25%;
    margin: 2px;
}
@media screen and (max-width:650px) {
    .app__bg{
        flex-direction: column;
        margin: 0;
    }
    .custom_button{
        font-size: 16px;
        width: 40%;
    }
    .app__bg .headtext_comorant{
        font-size: 15px;
    }
}