.section__padding{
    padding: 4rem, 6rem;
}
.flex__center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__bg{
    background: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.app__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    position: fixed;
}